<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  <meta name="robots" content="noindex, follow"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  {% load humanize %}
  {% load cart_template_tags %}
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'img/miraiten.png' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
  <!-- Material Design Iconic Font -->
  <link rel="stylesheet" href="{% static 'css/vendor/material-design-iconic-font.css' %}">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="{% static 'css/vendor/simple-line-icons.css' %}">
  <!-- Local Font -->
  <link rel="stylesheet" href="{% static 'css/vendor/font.css' %}">
  <!-- Slick CSS -->
  <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
  <!-- Animation -->
  <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
  <!-- jQuery Ui -->
  <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}">
  <!-- Nice Select -->
  <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
  <!-- Timecircles -->
  <link rel="stylesheet" href="{% static 'css/plugins/timecircles.css' %}">
  <!--  Main CCS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
</head>
<body class="template-color-5 font-family-02">
<div class="main-wrapper wrapper-boxed_layout">

  <!-- Begin Loading Area -->
  <div class="loading">
    <div class="text-center middle">
                <span class="loader">
            <span class="loader-inner"></span>
                </span>
    </div>
  </div>
  <!-- Loading Area End Here -->

  <!-- Begin Main Header Area Two -->
  <header class="main-header_area-2">
    <div class="main-header">
      {% include "shop/navbar.html" %}
    </div>
    <div class="main-header header-sticky">
      {% include "shop/navbar.html" %}
    </div>
    <div class="offcanvas-minicart_wrapper" id="miniCart">
      <div class="offcanvas-menu-inner">
        <a href="#" class="btn-close"><i class="zmdi zmdi-close"></i></a>
        {% with order=request.user|get_order %}
        <div class="minicart-content">
          <div class="minicart-heading">
            <h4>Shopping Cart</h4>
          </div>
          <ul class="minicart-list">
            {% for order_item in order.items.all %}
            <li class="minicart-product">
              <a class="product-item_remove" href="{% url 'delete-from-cart' order_item.item.pk %}">
                <i class="zmdi zmdi-close"></i></a>
              <div class="product-item_img">
                <img src="{{ order_item.item.image }}" alt="{{ order_item.item.name}}">
              </div>
              <div class="product-item_content">
                <a class="product-item_title" href="{% url 'item' order_item.item.pk order_item.item.slug %}">{{ order_item.item.name}}</a>
                <span class="product-item_quantity">{{ order_item.quantity }} x Rp {{ order_item.item.price|floatformat|intcomma }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="minicart-item_total">
          <span>Subtotal</span>
          <span class="ammount">Rp {{ order.get_total|floatformat|intcomma }}</span>
        </div>
        {% endwith %}
        <div class="minicart-btn_area">
          <a href="{% url 'cart' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Minicart</a>
        </div>
        <div class="minicart-btn_area">
          <a href="{% url 'checkout' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Checkout</a>
        </div>
      </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
      <div class="offcanvas-menu-inner">
        <div class="container">
          <a href="#" class="btn-close white-close_btn"><i class="zmdi zmdi-close"></i></a>
          <div class="offcanvas-inner_logo">
            <a href="/">
              <img src="{% static 'img/Untitled-3.png' %}" width="120" height="30" alt="Header Logo">
            </a>
          </div>
          <nav class="offcanvas-navigation">
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <a href="#">
                  <span class="mm-text">Shop</span>
                </a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="{% url 'search' %}">
                      <span class="mm-text">Hot Sale</span>
                    </a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">
                      <span class="mm-text">Light Novel</span>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="{% url 'search' %}?q=English%20Light%20Novel">
                        <span class="mm-text">EN Light Novel</span>
                      </a></li>
                      <li><a href="{% url 'search' %}?category=7">JP Light Novel</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#"><span class="mm-text">Manga</span></a>
                    <ul class="sub-menu">
                      <li><a href="{% url 'search' %}?q=EN%20Manga">EN Manga</a></li>
                      <li><a href="{% url 'search' %}?q=JP%20Manga">JP Manga</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#"><span class="mm-text">Figure & Merchandise</span></a>
                    <ul class="sub-menu">
                      <li><a href="{% url 'search' %}?q=PVC%20Figure">PVC Figure</a></li>
                      <li><a href="{% url 'search' %}?q=Figma">Figma</a></li>
                      <li><a href="{% url 'search' %}?q=Nendoroid">Nendoroid</a></li>
                      <li><a href="{% url 'search' %}?q=Model%20Kit">Model Kit</a></li>
                      <li><a href="{% url 'search' %}?q=Merchandise">Merchandise</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav class="offcanvas-navigation user-setting_area">
            <ul class="mobile-menu">
              {% if request.user.is_authenticated %}
              <li class="menu-item">
                <a href="my-account.html">
                  <span class="mm-text">My Account</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'wishlist' %}">
                  <span class="mm-text">Wishlist</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'cart' %}">
                  <span class="mm-text">Cart</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'checkout' %}">
                  <span class="mm-text">Checkout</span>
                </a>
              </li>
              {% else %}
              <li class="menu-item">
                <a href="{% url 'account_login' %}">
                  <span class="mm-text">Login | Register</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="offcanvas-menu_wrapper" id="offcanvasMenu">
      <div class="offcanvas-menu-inner">
        <a href="#" class="btn-close"><i class="zmdi zmdi-close"></i></a>
        <div class="offcanvas-inner_logo">
          <a href="shop-left-sidebar.html">
            <img src="assets/images/menu/logo/1.png" alt="Munoz's Offcanvas Logo">
          </a>
        </div>
        <div class="short-desc">
          <p>We are a team of designers and developers that create high quality HTML Template &
            Woocommerce,
            Shopify Themes.
          </p>
        </div>
        <div class="offcanvas-component first-child">
          <span class="offcanvas-component_title">Currency</span>
          <ul class="offcanvas-component_menu">
            <li><a href="javascript:void(0)">EUR</a></li>
            <li><a href="javascript:void(0)">GBP</a></li>
            <li class="active"><a href="javascript:void(0)">USD</a></li>
          </ul>
        </div>
        <div class="offcanvas-component">
          <span class="offcanvas-component_title">Language</span>
          <ul class="offcanvas-component_menu">
            <li class="active"><a href="javascript:void(0)">English</a></li>
            <li><a href="javascript:void(0)">French</a></li>
          </ul>
        </div>
        <div class="offcanvas-component">
          <span class="offcanvas-component_title">My Account</span>
          <ul class="offcanvas-component_menu">
            <li><a href="my-account.html">Register</a></li>
            <li><a href="login-register.html">Login</a></li>
          </ul>
        </div>
        <div class="offcanvas-inner-social_link">
          <div class="quicky-social_link">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" title="Facebook">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="twitter">
                <a href="https://twitter.com" data-toggle="tooltip" target="_blank" title="Twitter">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="youtube">
                <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank" title="Youtube">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="google-plus">
                <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank"
                   title="Google Plus">
                  <i class="fab fa-google-plus"></i>
                </a>
              </li>
              <li class="instagram">
                <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-search_wrapper" id="searchBar">
      <div class="offcanvas-menu-inner">
        <div class="container">
          <a href="#" class="btn-close"><i class="zmdi zmdi-close"></i></a>
          <!-- Begin Offcanvas Search Area -->
          <div class="offcanvas-search">
            <form action="{% url 'search' %}" class="hm-searchbox">
              <input name="q" type="text" placeholder="Search for an item">
              <button class="search_btn" type="submit"><i
                  class="zmdi zmdi-search"></i></button>
            </form>
          </div>
          <!-- Offcanvas Search Area End Here -->
        </div>
      </div>
    </div>
    <div class="global-overlay"></div>
  </header>
  <!-- Main Header Area Two End Here -->

  {% if messages %}
  <div class="row mt-3">
    <div class="col-lg-10 col-xl-9 mx-auto">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        <span>{{ message }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}

  <!-- Begin Footer Area Two -->
  <div class="footer-area-2">
    <div class="footer-top_area bg-buttery-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-widgets_area address-widgets_area">
              <h3 class="heading horizontal-line_ltr"><span>Get in Touch</span></h3>
              <div class="footer-widgets">
                <p class="visit-info">To visit our head office here is
                  the address for you</p>
                <p class="address-info"><strong>Address:</strong> Politeknik Elektronika Negeri Surabaya, Jalan Raya ITS
                  Sukolilo, Surabaya, Indonesia</p>
                <div class="widgets-contects">
                  <a href="tel://0812345678">0812345678,</a>
                  <a href="tel://08384567890">08384567890</a>
                </div>
                <div class="widgets-mail">
                  <a href="#" target="_blink">www.miraiten.id</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-widgets_area">
                  <h3 class="heading">Quick Link</h3>
                  <div class="footer-widgets">
                    <ul>
                      <li><a href="javascript:void(0)">About us</a></li>
                      <li><a href="javascript:void(0)">Featured Product</a></li>
                      <li><a href="javascript:void(0)">New Arrivals</a></li>
                      <li><a href="javascript:void(0)">Blog Post</a></li>
                      <li><a href="javascript:void(0)">Best Deals</a></li>
                      <li><a href="javascript:void(0)">Contact us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-widgets_area">
                  <h3 class="heading">Information</h3>
                  <div class="footer-widgets">
                    <ul>
                      <li><a href="javascript:void(0)">Track Order</a></li>
                      <li><a href="javascript:void(0)">Return Policy</a></li>
                      <li><a href="javascript:void(0)">Privecy Policy</a></li>
                      <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                      <li><a href="javascript:void(0)">Payment gateway</a></li>
                      <li><a href="javascript:void(0)">Promotions</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-widgets_area">
                  <h3 class="heading">Support</h3>
                  <div class="footer-widgets">
                    <ul>
                      <li><a href="javascript:void(0)">24/7 Support</a></li>
                      <li><a href="javascript:void(0)">Quality Control</a></li>
                      <li><a href="javascript:void(0)">Quick Return</a></li>
                      <li><a href="javascript:void(0)">Servicing</a></li>
                      <li><a href="javascript:void(0)">Home Delivery</a></li>
                      <li><a href="javascript:void(0)">Payment System</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Miraiten</small>
      </div>
    </footer>
  </div>
  <!-- Footer Area Two End Here -->
  <!-- Begin Quicky's Modal Area -->
  <div class="modal fade modal-wrapper" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-inner-area sp-area row">
            <div class="col-xl-5 col-lg-6">
              <div class="sp-img_area">
                <div class="quicky-element-carousel sp-img_slider slick-img-slider" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                    }'>
                  <div class="single-slide red">
                    <img src="assets/images/product/large-size/1.jpg" alt="Quicky's Product Image">
                  </div>
                  <div class="single-slide orange">
                    <img src="assets/images/product/large-size/2.jpg" alt="Quicky's Product Image">
                  </div>
                  <div class="single-slide brown">
                    <img src="assets/images/product/large-size/3.jpg" alt="Quicky's Product Image">
                  </div>
                  <div class="single-slide umber">
                    <img src="assets/images/product/large-size/4.jpg" alt="Quicky's Product Image">
                  </div>
                </div>
                <div class="quicky-element-carousel sp-img_slider-nav arrow-style arrow-sm_size arrow-day_color"
                     data-slick-options='{
                                   "slidesToShow": 3,
                                    "asNavFor": ".sp-img_slider",
                                   "focusOnSelect": true,
                                   "arrows" : true,
                                   "spaceBetween": 30
                                  }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":992, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                ]'>
                  <div class="single-slide red">
                    <img src="assets/images/product/large-size/1.jpg" alt="Quicky's Product Thumnail">
                  </div>
                  <div class="single-slide orange">
                    <img src="assets/images/product/large-size/2.jpg" alt="Quicky's Product Thumnail">
                  </div>
                  <div class="single-slide brown">
                    <img src="assets/images/product/large-size/3.jpg" alt="Quicky's Product Thumnail">
                  </div>
                  <div class="single-slide umber">
                    <img src="assets/images/product/large-size/4.jpg" alt="Quicky's Product Thumnail">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6">
              <div class="sp-content">
                <div class="sp-heading">
                  <h5><a href="#">Moonstar Clock</a></h5>
                </div>
                <div class="rating-box">
                  <ul>
                    <li><i class="zmdi zmdi-star"></i></li>
                    <li><i class="zmdi zmdi-star"></i></li>
                    <li><i class="zmdi zmdi-star"></i></li>
                    <li class="silver-color"><i class="zmdi zmdi-star"></i></li>
                    <li class="silver-color"><i class="zmdi zmdi-star"></i></li>
                  </ul>
                </div>
                <div class="price-box">
                  <span class="new-price new-price-2 ml-0">$194.00</span>
                  <span class="old-price">$241.00</span>
                </div>
                <div class="sp-essential_stuff">
                  <ul>
                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                  </ul>
                </div>
                <div class="color-list_area">
                  <div class="color-list_heading">
                    <h4>Available Options</h4>
                  </div>
                  <span class="sub-title">Color</span>
                  <div class="color-list">
                    <a href="javascript:void(0)" class="single-color active" data-swatch-color="red">
                      <span class="bg-red_color"></span>
                      <span class="color-text">Red (+$150)</span>
                    </a>
                    <a href="javascript:void(0)" class="single-color" data-swatch-color="orange">
                      <span class="burnt-orange_color"></span>
                      <span class="color-text">Orange (+$170)</span>
                    </a>
                    <a href="javascript:void(0)" class="single-color" data-swatch-color="brown">
                      <span class="brown_color"></span>
                      <span class="color-text">Brown (+$120)</span>
                    </a>
                    <a href="javascript:void(0)" class="single-color" data-swatch-color="umber">
                      <span class="raw-umber_color"></span>
                      <span class="color-text">Umber (+$125)</span>
                    </a>
                  </div>
                </div>
                <div class="quantity">
                  <label>Quantity</label>
                  <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" value="1" type="text">
                    <div class="dec qtybutton"><i class="zmdi zmdi-chevron-down"></i></div>
                    <div class="inc qtybutton"><i class="zmdi zmdi-chevron-up"></i></div>
                  </div>
                </div>
                <div class="quicky-group_btn">
                  <ul>
                    <li><a href="cart.html" class="add-to_cart">Add To Cart</a></li>
                    <li><a href="wishlist.html"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                    <li><a href="compare.html"><i class="zmdi zmdi-shuffle"></i></a></li>
                  </ul>
                </div>
                <div class="quicky-tag-line">
                  <h6>Tags:</h6>
                  <a href="javascript:void(0)">clock,</a>
                  <a href="javascript:void(0)">watch,</a>
                  <a href="javascript:void(0)">bag</a>
                </div>
                <div class="quicky-social_link">
                  <ul>
                    <li class="facebook">
                      <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" title="Facebook">
                        <i class="fab fa-facebook"></i>
                      </a>
                    </li>
                    <li class="twitter">
                      <a href="https://twitter.com" data-toggle="tooltip" target="_blank" title="Twitter">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                    </li>
                    <li class="youtube">
                      <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank" title="Youtube">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                    <li class="google-plus">
                      <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank"
                         title="Google Plus">
                        <i class="fab fa-google-plus"></i>
                      </a>
                    </li>
                    <li class="instagram">
                      <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quicky's Modal Area End Here -->
  <!-- Scroll To Top Start -->
  <a class="scroll-to-top" href=""><i class="icon-arrow-up"></i></a>
  <!-- Scroll To Top End -->

</div>
<!-- jQuery JS -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Modernizer JS -->
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

<!-- Slick Slider JS -->
<script src="{% static 'js/plugins/slick.min.js' %}"></script>
<!-- Barrating JS -->
<script src="{% static 'js/plugins/jquery.barrating.min.js' %}"></script>
<!-- Counterup JS -->
<script src="{% static 'js/plugins/jquery.counterup.js' %}"></script>
<!-- Nice Select JS -->
<script src="{% static 'js/plugins/jquery.nice-select.js' %}"></script>
<!-- Sticky Sidebar JS -->
<script src="{% static 'js/plugins/jquery.sticky-sidebar.js' %}"></script>
<!-- Jquery-ui JS -->
<script src="{% static 'js/plugins/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="{% static 'js/plugins/theia-sticky-sidebar.min.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
<!-- jQuery Zoom JS -->
<script src="{% static 'js/plugins/jquery.zoom.min.js' %}"></script>
<!-- Timecircles JS -->
<script src="{% static 'js/plugins/timecircles.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>