{% extends "shop/base.html" %}

{% load humanize %}

{% block head_title %}Miraiten Shop{% endblock %}

{% block content %}
<!-- Begin Slider Area Five -->
<div class="slider-area-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="quicky-element-carousel home-slider custom-dots" data-slick-options='{
                          "slidesToShow": 1,
                          "slidesToScroll": 1,
                          "infinite": true,
                          "arrows": false,
                          "dots": true,
                          "autoplay" : true,
                          "fade" : true,
                          "autoplaySpeed" : 7000,
                          "pauseOnHover" : false,
                          "pauseOnFocus" : false,
                          "appendArrows": ".slider-navigation"
                          }' data-slick-responsive='[
                          {"breakpoint":768, "settings": {
                          "slidesToShow": 1
                          }},
                          {"breakpoint":575, "settings": {
                          "slidesToShow": 1
                          }}
                      ]'>

          <div class="slide-item animation-style-01 bg-6">
            <div class="slider-progress"></div>
            <div class="social-with_navigation">
              <div class="social-link-3">
                <ul>
                  <li class="facebook">
                    <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Facebook">
                      Fb
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="https://twitter.com" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Twitter">
                      Tw
                    </a>
                  </li>
                  <li class="instagram">
                    <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Instagram">
                      in
                    </a>
                  </li>
                  <li class="google-plus">
                    <a href="https://plus.google.com/" data-toggle="tooltip" target="_blank" title="Google Plus">
                      G+
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="inner-slide">
                    <div class="slide-content">
                      <h2>Fantastic Light Novel</h2>
                      <p class="short-desc">Thousand of Up to Date Series
                        and you could get it here
                      </p>
                      <div class="slide-btn">
                        <a class="quicky-btn vertical-line titillium-font" href="shop-left-sidebar.html">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-item animation-style-03 bg-7">
            <div class="slider-progress"></div>
            <div class="social-with_navigation">
              <div class="social-link-3">
                <ul>
                  <li class="facebook">
                    <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Facebook">
                      Fb
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="https://twitter.com" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Twitter">
                      Tw
                    </a>
                  </li>
                  <li class="instagram">
                    <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" data-placement="top"
                       title="Instagram">
                      in
                    </a>
                  </li>
                  <li class="google-plus">
                    <a href="https://plus.google.com/" data-toggle="tooltip" target="_blank" title="Google Plus">
                      G+
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="inner-slide">
                    <div class="slide-content">
                      <h2>Fabulous Manga</h2>
                      <p class="short-desc">Create your own Imagination
                        Read our Hottest Sale Manga Today
                      </p>
                      <div class="slide-btn">
                        <a class="quicky-btn vertical-line" href="shop-left-sidebar.html">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Slider Area Five End Here -->

<!-- Begin Product Area Nine -->
<div class="product-area-9 pt-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3 class="heading">Featured Products</h3>
          <div class="section-icon"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="quicky-element-carousel product-slider" data-slick-options='{
                          "slidesToShow": 3,
                          "slidesToScroll": 1,
                          "infinite": true,
                          "arrows": false,
                          "dots": false,
                          "spaceBetween": 30
                          }' data-slick-responsive='[
                          {"breakpoint":992, "settings": {
                          "slidesToShow": 2
                          }},
                          {"breakpoint":575, "settings": {
                          "slidesToShow": 1
                          }}
                      ]'>

          {% for item in featured_products %}
          <div class="product-item">
            <div class="single-product">
              <div class="product-img">
                <a href="{% url 'item' item.pk item.slug %}">
                  <img src="{{ item.image }}" alt="{{ item.name }}">
                </a>
                <span class="sticker">New</span>
                <div class="add-actions hover-right_side">
                  <ul>
                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter">
                      <a href="{% url 'item' item.pk item.slug %}" data-toggle="tooltip" data-placement="left"
                         title="View Detail"><i class="icon-magnifier"></i></a>
                    </li>
                    <li><a href="{% url 'wishlist' %}" data-toggle="tooltip" data-placement="left"
                           title="Add To Wishlist"><i
                        class="icon-heart"></i></a>
                    </li>
                    <li><a href="{% url 'add-to-cart' item.pk %}" data-toggle="tooltip" data-placement="left"
                           title="Add To cart"><i
                        class="icon-bag"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="product-content bg-snow">
                <div class="product-desc_info">
                  <div class="manufacture-product_top">
                    <span><a
                        href="{% url 'search' %}?category={{ item.category.pk }}">{{ item.category.name }}</a></span>
                  </div>
                  <h3 class="product-name"><a href="{% url 'item' item.pk item.slug %}">{{ item.name }}</a>
                  </h3>
                  <div class="price-box">
                    <span class="new-price ml-0">Rp {{ item.price|floatformat|intcomma  }}</span>
                  </div>
                  <div class="review-area d-flex justify-content-between align-items-center">
                    <div class="rating-box gamboge-color">
                      <ul>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area Nine End Here -->

<!-- Begin Product Area Ten -->
<div class="product-area-10 pt-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3 class="heading">Popular Products</h3>
          <div class="section-icon"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="quicky-element-carousel product-slider" data-slick-options='{
                          "slidesToShow": 3,
                          "slidesToScroll": 1,
                          "infinite": true,
                          "arrows": false,
                          "dots": false,
                          "spaceBetween": 30
                          }' data-slick-responsive='[
                          {"breakpoint":992, "settings": {
                          "slidesToShow": 2
                          }},
                          {"breakpoint":575, "settings": {
                          "slidesToShow": 1
                          }}
                      ]'>

          {% for item in popular_products %}
          <div class="product-item">
            <div class="single-product">
              <div class="product-img">
                <a href="{% url 'item' item.pk item.slug %}">
                  <img src="{{ item.image }}" alt="{{ item.name }}">
                </a>
                <span class="sticker red-color">Sale</span>
                <span class="sticker-2">-10%</span>
                <div class="add-actions hover-right_side">
                  <ul>
                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a
                        href="{% url 'item' item.pk item.slug %}" data-toggle="tooltip" data-placement="left"
                        title="View Detail"><i class="icon-magnifier"></i></a>
                    </li>
                    <li><a href="{% url 'wishlist' %}" data-toggle="tooltip" data-placement="left"
                           title="Add To Wishlist"><i
                        class="icon-heart"></i></a>
                    </li>
                    <li><a href="{% url 'add-to-cart' item.pk %}" data-toggle="tooltip" data-placement="left"
                           title="Add To cart"><i
                        class="icon-bag"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="product-content bg-snow">
                <div class="product-desc_info">
                  <div class="manufacture-product_top">
                    <span>{{ item.category.name }}</span>
                  </div>
                  <h3 class="product-name"><a href="{% url 'item' item.pk item.slug %}">{{ item.name }}</a>
                  </h3>
                  <div class="price-box">
                    <span class="new-price ml-0">Rp {{ item.price|floatformat|intcomma }}</span>
                  </div>
                  <div class="review-area d-flex justify-content-between align-items-center">
                    <div class="rating-box gamboge-color">
                      <ul>
                        <li><i class="icon-star-empty"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area Ten End Here -->

<!-- Begin Newsletter With Testimonial Area -->
<div class="newsletter-with_testimonial pt-85 pb-30">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="newsletter-area bg-wisp-pink">
          <div class="newsletter-wrap">
            <span>Subscribe our</span>
            <h2 class="heading">Newsletter Now</h2>
            <div class="newsletter-form_wrap">
              <form
                  action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="newsletters-form validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div id="mc-form" class="mc-form subscribe-form">
                    <input id="mc-email" class="newsletter-input" type="email" autocomplete="off"
                           placeholder="Enter email address"/>
                    <button class="newsletter-btn" id="mc-submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <p class="short-desc">Get the latest update of our new products,
              offers and promotions</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="testimonial-area">
          <div class="client-review_area">
            <span>Clients <strong>Review</strong></span>
            <h2>What they say</h2>
          </div>
          <div class="quicky-element-carousel testimonial-slider mousewheel-slider custom-dots custom-dots-2"
               data-slick-options='{"slidesToShow": 1,"slidesToScroll": 1,"infinite": true,"dots": true,"spaceBetween": 30,"fade": true}'>
            <div class="testimonial-item">
              <div class="testimonial-img text-center">
                <img
                    src="https://images.unsplash.com/photo-1512479064533-47d51d07bb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    width="188px" alt="Quicky's Client">
              </div>
              <div class="testimonial-content">
                <p class="comment"><strong>Miraiten</strong> is one of the best online site that
                  serves best service and best product, I really love them.
                </p>
                <h3 class="client-name"><span>Michael Amadeus</span></h3>
              </div>
            </div>
            <div class="testimonial-item">
              <div class="testimonial-img text-center">
                <img
                    src="https://images.unsplash.com/photo-1528837995482-b88b0a83a9e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    width="188px" alt="Quicky's Client">
              </div>
              <div class="testimonial-content">
                <p class="comment"><strong>Miraiten</strong> is the one site that i love to buy the merchandise to
                  fill my collection
                </p>
                <h3 class="client-name"><span>Calica Doublin</span></h3>
              </div>
            </div>
            <div class="testimonial-item">
              <div class="testimonial-img text-center">
                <img
                    src="https://images.unsplash.com/photo-1527063652841-2920dd529e30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    width="188px" alt="Quicky's Client">
              </div>
              <div class="testimonial-content">
                <p class="comment"> I'm a big fans of Demon Slayer Manga, and so Miraiten that provides it for me
                </p>
                <h3 class="client-name"><span>Falcia Negenman</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Newsletter With Testimonial Area End Here -->
{% endblock %}