{% extends "shop/base.html" %}

{% load humanize %}

{% block head_title %}Wishlist || Miraiten{% endblock %}

{% block content %}
<!-- Begin Quicky's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Your Wishlist</h2>
        </div>
    </div>
</div>
<!-- Quicky's Breadcrumb Area End Here -->

<!--Begin Quicky's Wishlist Area -->
<div class="quicky-wishlist_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="javascript:void(0)">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="quicky-product_remove">remove</th>
                                    <th class="quicky-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="quicky-product-price">Unit Price</th>
                                    <th class="quicky-cart_btn">add to cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in object_list.items.all %}
                                <tr>
                                    <td class="quicky-product_remove"><a href="{% url 'delete-from-cart' order_item.item.pk %}"><i class="zmdi zmdi-close"
                                        title="Remove"></i></a></td>
                                    <td class="quicky-product-thumbnail">
                                        <a href="{% url 'item' order_item.item.pk order_item.item.slug %}">
                                            <img src="{{ order_item.item.image }}" alt="{{ order_item.item.name }}" width="105" height="105">
                                        </a>
                                    </td>
                                    <td class="quicky-product-name">
                                        <a href="{% url 'item' order_item.item.pk order_item.item.slug %}">
                                            {{ order_item.item.name }}
                                        </a>
                                    </td>
                                    <td class="quicky-product-price">Rp {{ order_item.item.price|floatformat|intcomma }}</td>
                                    <td class="quicky-cart_btn"><a href="{% url 'add-to-cart' order_item.item.pk %}">add to cart</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}